
*{
    box-sizing: border-box;
}
footer{
    background-color: rgb(60, 55, 40);
}
.footer-section{
    width: 100%;
    padding: 70px 30px 20px ;
}
.icons{
    display: flex;
    justify-content: center;
}

.icons a{
    text-decoration: none;
    padding:  10px;
    background-color: antiquewhite;
    margin: 10px;
    border-radius: 50%;
}

.icons a i{
    font-size: 2em;
    color:  rgb(60, 55, 40);
    opacity: 0,9;
}


.icons a:hover{
    background-color: rgb(60, 55, 40);
    transition: 0.5s;
}

.icons a:hover i{
    color: antiquewhite;
    transition: 0.5s;
}

.footer-nav {
    margin: 30px 0;
}

.footer-nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footer-nav ul li a{
    color:antiquewhite;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}

.footer-nav ul li a:hover{
    opacity: 1;
}


@media (max-width: 700px){
    .footer-nav ul{
        flex-direction: column;
    } 
    .footer-nav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .icons a{
        padding: 8px;
        margin: 4px;
    }
}

.hz-logo {
    position: relative;
    display: flex;
    justify-content: center;
    width: 200px;
    left: 43.25%;
    bottom: 20px;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 25px;
}

.hz-logo:hover {
    background-color: rgb(60, 55, 40);
    transition: 0.5s;
}